name: Build Flet APK
on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'
      - name: Install Flet
        run: pip install flet
      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: 'stable'
      - name: Build APK
        run: flet build apk
      - name: Upload APK
        uses: actions/upload-artifact@v3
        with:
          name: To'annoo-Barattoota-APK
          path: build/apk/*.apk
